body {
    font-family: 'Bungee Inline', sans-serif;
    color: black;
    font-weight: bolder;
}
.mainhead {
    color: white;
    display: flex;
    flex-direction: row;
    clear: both;
    padding-left: 5px;
    align-items: baseline;
    width: 100%;
}
.box1 {
    float: left;
    flex-grow: 1;
    width: 70%
}
.box2 {
    float: right;
    flex-grow: 2;
    text-align: right;
}
.landing {
    text-align: center;
    padding: 15px;
}
.but1 {
    margin: 10px;
    padding: 10px;
    font-size: larger;
}
.but2 {
    margin: 10px;
    padding: 10px;
    font-size: larger;
}
a {
    color: salmon;
    font-weight: bolder;
}
a:hover {
    color: salmon;
}
ul {
    list-style: none;
    text-align: left;
    font-size: larger;
}
.footer {
    padding: 20px;
    margin-top:50px;
    color: salmon;
    text-align: center;
}
.loginbox {
    padding: 20px;
}
.lhead {
    padding-bottom: 10px;
}
.lfoot {
    padding-top: 20px;
    font-size: large;
}
.regbox {
    padding: 20px;
}
.rfoot {
    padding-top: 20px;
    font-size: large;
}
.catbox {
    padding: 0px;
}
.catlist {
    padding: 20px;
    float: left;
    text-align: left;
}
.catcol {
    padding: 20px;
    float: clear;
    text-align: center;
}
.catbtn {
    padding: 1vw;
    color: black;
}
.catbtn:hover {
    background-color: darkturquoise;
    color: black;
}
.qnatext {
    float: left;
    padding-left: 10vw;
}
.btn {
    background-color:lightcoral;
    font-weight: bold;
}
.ubt {
    background-color:lightgreen;
    padding: 10px;
    width: 100%;
}
.ibt {
    background-color: lightgreen;
    padding: 10px;
    width: 100%;
}
.fbt {
    background-color: lightgreen;
    padding: 10px;
    width: 100%;
}
.bbt {
    background-color: lightgreen;
    padding: 10px;
    width: 100%;
}
.mainblock {
    font-family: 'Brush Script MT', cursive;
    letter-spacing:2px;
}
.atxt {
    padding-left:10%;
    font-size: 23px;
}
.date {
    font-size: medium;
    padding-left:10%;
}
.anstxt {
    padding-left: 10%;
}